@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --gold: #c9aa71;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-gold: var(--gold);
  --font-cinzel: var(--font-cinzel);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-cinzel), serif;
}
